<link rel="stylesheet" href="/assets/css/album.css">
<div class="album-details">
	<div class="jumbotron">
		<img src="https://s-media-cache-ak0.pinimg.com/originals/e2/6d/87/e26d873ee68fbcd9dc1c40d8b0c6b3b4.gif" alt="" ng-if="!$ctrl.album">
		<img ng-src="{{$ctrl.album.artworkUrl100}}" />
		<h1 class="album">{{$ctrl.album.collectionName}}</h1>
		<ul>
			<li ng-repeat="track in $ctrl.album.tracks" ng-show="track.trackName">
				{{track.trackName}}
				<audio src="{{track.previewUrl}}" controls></audio>
			</li>
		</ul>
	<div>
</div>